<div class="bottom-slide-container">
    <div class="list main-menu-list no-margin">
        <div class="item" ng-click="choseStoryLines()">Chose Storyline</div>
        <div class="item" ng-click="findFacilities()">Find Facilities</div>
        <div class="item" ng-click="find()">Child Quest</div>
        <div class="item" ng-click="find()">Send Feedback</div>
    </div>

    <div class="list no-margin sub-menu-list">
        <div class="item" ng-click="choseStoryLine()">Storyline 1</div>
        <div class="item" ng-click="findFacilities()">Storyline 2</div>
        <div class="item" ng-click="find()">Storyline 3</div>
        <div class="item" ng-click="find()">Storyline 4</div>
        <div class="item" ng-click="find()">Storyline 3</div>
        <div class="item" ng-click="find()">Storyline 4</div>
    </div>
</div>