<div class="bottom-slide-container">
    <div class="list main-menu-list no-margin">
        <div class="item" ng-click="choseStoryLines()">{{ 'BSLIDE_CHNGSTORY' | translate }}</div>
        <div class="item" ng-click="freeRoam()">{{'BSLIDE_CHNGFREE' | translate }}</div>
        <div class="item" ng-click="findFacilities()">{{'BSLIDE_FNDFACI' | translate }}</div>
    </div>

    <div class="list no-margin sub-menu-list">
        <div class="item" ng-repeat="storyline in storyLines" ng-click="choseStoryLine(storyline)">{{!storyline.empty ? storyline.getTitleWithLanguage(language): ""}}</div>
    </div>
</div>
