<ion-view> 
    <ion-nav-title>
        Details
    </ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">Nipper: Searching for his master's voice</div>
            <div class="item item-text-wrap">
        Nipper comes back from a stroll outside and is looking for his master, who is the plant's president Elmer C. Grimley. However, a new extension has been recently added and opened (building 17), and Nipper is a bit confused. After he went to the old office (in building 5a), which is empty and close, he needs to find out, where the new president's office is. On top, it's a very busy day for his master and the factory inspections have to be done and production has started on high volume.
        </div>
        </div>
    
    </ion-content>
</ion-view>