<ion-view view-title="{{currentLevel.name}}"> 
    <ion-header-bar class="bar-subheader bar-dark bar-header-levels">
        <div class="level-div">
            <a ng-click="changeLevel(1)" class="level-mark">1</a>
            <a ng-click="changeLevel(2)" class="level-mark">2</a>
            <a ng-click="changeLevel(3)" class="level-mark">3</a>
            <a ng-click="changeLevel(4)" class="level-mark">4</a>
            <a ng-click="changeLevel(5)" class="level-mark">5</a>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" overflow-scroll="true">
        <map></map>
    </ion-content>
</ion-view>
