<div class="map-div">
    <div class="map-image" style="margin:auto;" ng-pinch-zoom max-scale="1">
        <div class="line-div" map-line ng-repeat="mapLine in mapLines" line="mapLine"></div>
        <div class="point-div" map-point ng-repeat="mapPoint in mapPoints" point="mapPoint"></div>
    </div>
    <!-- <canvas ng-click="draw()" id="myCanvas" ng-pinch-zoom max-scale=“1”></canvas> -->
	<p translate="PASSED_AS_ATTRIBUTE"></p>
</div>

<div class="zoom-buttons">
    <button ng-click="zoomIn()" class="zoom-button-plus">+</button>
    <button ng-click="zoomOut()" class="zoom-button-minus">-</button>
</div>
