<div class="map-div">
    <div class="map-image" src="img/one.png" style="margin:auto;" ng-pinch-zoom max-scale="1">
        <div class="point-div" map-point ng-repeat="mapPoint in mapPoints" point="mapPoint"></div>
    </div>
    <!-- <canvas ng-click="draw()" id="myCanvas" ng-pinch-zoom max-scale=“1”></canvas>

    <!-- Testing layer iBeacon -->
    <div ng-controller="mapCtrl">
        <div class="list">
           <div class="item" ng-repeat="(key, value) in mapBeacons">
               <div class="row">
                   <div class="col truncate">
                       {{value.beacon.uuid}}
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                       major: {{value.beacon.major}}
                   </div>
                   <div class="col">
                       minor: {{value.beacon.minor}}
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                       {{value.beacon.proximity}}
                   </div>
				   <div class="col">
					   rssi: {{value.beacon.rssi}}
				   </div>
               </div>
			   <div class="row">
				   <div class="col">
					   accuracy: {{value.beacon.accuracy}}
				   </div>
				<div class="col">
					tx: {{value.beacon.tx}}
				</div>
			   </div>
           </div>
        </div>
    </div>

    <style>
        .truncate {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <!-- EO Testing layer iBeacon -->
</div>
<div class="zoom-buttons">
    <button ng-click="zoomIn()" class="button zoom-button-plus">+</button>
    <button ng-click="zoomOut()" class="button zoom-button-minus">-</button>
</div>
