<ion-view>
    <ion-nav-title>
        {{ 'SET_VIEW' | translate }}
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item translate="SET_CHG_NAME">{{ 'SET_CHG_NAME' | translate }}</ion-item>
            <ion-item href="#/tab/language">{{ 'SET_CHG_LANG' | translate }}</ion-item>
            <ion-item>{{ 'SET_HELP' | translate }}</ion-item>
            <ion-item>{{ 'SET_ABOUT' | translate }}</ion-item>
            <ion-item href="#/tab/details">Details</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
