<ion-view class="start" hide-nav-bar="true"> 
    <ion-content>
       <div class="start-box">
            <div class="item item-text-wrap start-logo-box">
           <img src="../img/logoBlackClear.png" />
                <div style="margin-top: 15px;">
                    <button class="button button-stable button-small" ng-click="english()">ENGLISH</button>
                    <button class="button button-stable button-small" ng-click="english()">FRANÇAIS</button>
                </div>
                
           </div>
        </div>
    </ion-content>

</ion-view>