<ion-tabs class="tabs-calm">
    <ion-tab map-view="true" icon-off="icon-arrowUp" icon-on="icon-arrowUp">
        <ion-nav-view name="tab-one"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="icon-scanQR" icon-on="icon-scanQR" href="#/tab/scan">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="icon-map" icon-on="icon-map" href="#/tab/level">
        <ion-nav-view name="tab-one"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="icon-setting" icon-on="icon-setting" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
