<ion-tabs class="tabs-calm">
    <ion-tab map-view="true" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/tab/level">
        <ion-nav-view name="tab-one"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/tab/scan">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-map" icon-on="ion-map">
        <ion-nav-view name="tab-exploration"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
