<ion-view class="tutorial-list" hide-nav-bar="true"> 
    <ion-content scroll="false">
       <div class="tutorial-msg">
        Select your exploration:
        </div>
       <div class="list tutorial-list">
        <div class="item item-icon-left">
            <i class="icon icon-freeBird"></i>
            Free Exploration
        </div>
        <div class="item item-icon-left">
            <i class="icon icon-nipper"></i>
            Storyline  
        </div>
         <div class="item item-icon-left">
            <i class="icon icon-nipper"></i>
            Storyline  
        </div>
         <div class="item item-icon-left">
            <i class="icon icon-nipper"></i>
            Storyline  
        </div>
        
        </div>
        
    </ion-content>

</ion-view>