 <ion-modal-view class="transparent">
    <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent overlay">
            <div class="overlay-levels">
                <div>
                    <div class="level-div"> 
            <span class="level-mark level-title" translate="FLOOR"></span>
            <a class="level-mark selected-level" style="color:#2c2c2c !important;">1</a>
            <a class="level-mark">2</a>
            <a class="level-mark">3</a>
            <a class="level-mark">4</a>
            <a class="level-mark">5</a>
                    </div>
                </div>
            </div>
            <div class="overlay-levels-arrow">
                <div></div>
            </div>
            <div class="overlay-levels-desc">
                <div>
                to change floor map view
                </div>
            </div>
            <div class="overlay-desc">
                <div class="row">
                    <div class="col col-25">
                        to access the option menu</div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-25">
                    to scan QR code
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-50">
                    to return to the map
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-75">
                    to change setting
                    </div>
                </div>
            </div>
             <div class="overlay-button"><span class="tag">Got it!</span>
        <a class=" button-icon icon icon-nextWelcome" icon-on="icon-nextWelcome" href="#/tutorial-list"></a>
        </div>
            <div class="overlay-arrows row">
                <div class="col-25"><div style="height:152px">
                    </div></div>
                <div class="col-25"><div style="height:122px">
                    </div></div>
                <div class="col-25"><div style="height:71px">
                    </div></div>
                <div class="col-25"><div style="height:23px">
                    </div></div>
            </div>
            <div class="overlay-tabs row">
                <div class="col-25">
                    <div>
                        <i class="button-icon icon icon-arrowUp"></i>
                    </div>

            </div>  
                <div class="col-25">
                    <div>
                    <i class="button-icon icon icon-scanQR"></i>
                    </div>
                    </div>
                <div class="col-25">
                    <div>
                    <i class="button-icon icon icon-map"></i>
                    </div>

                </div>
                <div class="col-25">
                    <div>
                    <i class="button-icon icon icon-setting"></i>
                    </div>
                    </div>
              </div>             
        </ion-pane>
    </div>
</ion-modal-view>