# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/js/directives.js
www/js/services.js
www/js/controllers.js
www/css/ionic.app.css
www/css/ionic.app.min.css
.idea/
