.zoom-buttons {
    position: absolute !important;
    right   : 20px !important;
    bottom  : 50px !important;
}
.zoom-button-plus {
    display         : block;
    background-color: $calm;
    opacity: 0.8;
    border-radius   : 25px 25px 0 0;
    font-size       : 19pt !important;
    width           : 34px;
    color           : #FFF;
    border          : 0;
}
.zoom-button-minus {
    display         : block;
    background-color: $calm;
    opacity: 0.8;
    border-radius   : 0 0 25px 25px;
    font-size       : 21pt !important;
    width           : 34px;
    border          : 0;
    color           : #FFF;
}
.map-image {
    background-size  : cover;
    background-repeat: no-repeat;
    position         : relative;
    //height:100%;
}
.map-div {
    height  : 100%;
    overflow: auto;
    img {
        display: block;
    }
}
canvas {
    padding-left : 0;
    padding-right: 0;
    margin-left  : auto;
    margin-right : auto;
    display      : block;
}
.point-div {
    border-radius   : 50%;
    background-color: #ffffff;
    color           : #ffffff;
    font-size       : 50%;
    width           : 8px;
    height          : 8px;
    position        : absolute;
    text-align      : center;
}
.current-point-light {
    background-color: #ff3300 !important;
}
.line-div {
    position: absolute;
}
.level-mark {
    display   : inline-block;
    text-align: center;
}
a.level-mark {
    color      : #FFF;
    font-weight: bold;
    font-size  : 12pt;
    margin     : 0 9px;
    width      : 25px;
    height     : 25px;
}
.level-div {
    height      : 100%;
    display     : table;
    width       : 100%;
    table-layout: fixed;
    text-align  : center;
}
.level-name {
    height : 100%;
    display: table;
    width  : 100%;
}
.bar-header-levels {
    height          : 35px !important;
    background-color: $energized;
}
a.selected-level {
  border: 1px solid #FFF;
  border-radius: 50px;
  background-color: #FFF;
  color: $energized !important;
  padding: 1px;

}

.level-title {
    font-weight : bold;
    margin-right: 13px;
    color       : #FFF;
}
.has-subheader {
    top: 76px !important;
}
// Map audio
.map-audio-container {
    background-color: $mapAudio;
    opacity: 0.6;
    height: 70px;
}

.beacon-player-exit-btn{
    border-left: 3px solid #FFF;
    margin-left:10px;
    padding: 8px;
}
